<header class="site-header">
  <div class="site-header__brand container">
    <a
      href="index.html"
      class="site-header__brand-link"
      aria-label="На главную"
    >
      <img
        class="site-header__logo"
        src="assets/images/logo.png"
        alt="Roses from Edem"
      />
    </a>
  </div>

  <nav class="main-nav" aria-label="Основная навигация">
    <div class="main-nav__bar container">
      <ul class="main-nav__list" role="list">
        <li class="main-nav__item">
          <a
            href="/catalog.html"
            class="main-nav__link"
            id="nav-flowers"
            data-menu="flowers"
          >
            <span class="main-nav__icon" aria-hidden="true">
              <img src="assets/images/icons/starIcon.svg" alt="" />
            </span>
            Цветы
          </a>
        </li>
        <li class="main-nav__item">
          <a href="/addition-menu.html" class="main-nav__link">Дополнения</a>
        </li>
        <li class="main-nav__item">
          <a href="#" class="main-nav__link">Цветочная подписка</a>
        </li>
        <li class="main-nav__item">
          <a href="#" class="main-nav__link">Информация</a>
        </li>
      </ul>

      <div class="header-actions" role="group" aria-label="Действия">
        <a href="#" class="header-actions__cart" aria-label="Корзина">
          <img src="assets/images/icons/basketIcon.svg" alt="" />
        </a>

        <a
          href="tel:+79785455455"
          class="header-actions__phone"
          aria-label="Позвонить по номеру +7 (978) 545-54-55"
        >
          +7 (978) 545-54-55
        </a>

        <div class="social" aria-label="Социальные сети">
          <ul class="social__list" role="list">
            <li class="social__item">
              <a
                class="social__link social__link--circle"
                href="#"
                aria-label="WhatsApp"
              >
                <img
                  class="social__icon"
                  src="assets/images/icons/whatsappIcon.svg"
                  alt=""
                />
              </a>
            </li>
            <li class="social__item">
              <a
                class="social__link social__link--circle"
                href="#"
                aria-label="Telegram"
              >
                <img
                  class="social__icon"
                  src="assets/images/icons/tgIcon.svg"
                  alt=""
                />
              </a>
            </li>
            <li class="social__item">
              <a
                class="social__link social__link--ghost"
                href="#"
                aria-label="VK"
              >
                <img
                  class="social__icon"
                  src="assets/images/icons/vkIcon.svg"
                  alt=""
                />
              </a>
            </li>
            <li class="social__item">
              <a
                class="social__link social__link--ghost"
                href="#"
                aria-label="Instagram"
              >
                <img
                  class="social__icon"
                  src="assets/images/icons/instaIcon.svg"
                  alt=""
                />
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
